
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, textarea {
    resize: none;
}


button, .non-editable, h3, h2, h1, .makePriority, .save-btn, .singular-task, .singular-priority-task, .dashboard__utilities, p, .modal__form {
    user-select: none; 
    caret-color: transparent; 
}

button, .save-btn, .submit {
    cursor:pointer
}


.all-tasks-text {
    color: rgb(92, 92, 92);
}

.all-tasks-text-init {
    background-color: rgba(206, 206, 206, 0.63);
}

.save-toggle-text, .save-toggle-text-init {
    color: rgb(155, 155, 155);
    background-color: rgba(206, 206, 206, 0.63) !important; 
}


.save-btn-init {
    background-color: rgb(134, 255, 109);
}


.save-btn-click {
    background-color: rgb(134, 255, 109);

}











html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: monospace;
    line-height: 1.5;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: monospace;
}
p, span {
    font-family: monospace;
}




.dashboard__sidebar, .dashboard__utilities {
    position: relative;
    z-index: 3;
}


.header {
    position: relative;
    z-index: 2;
}


.dashboard {
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

    >* {
        border: 3px rgba(255, 255, 255, 0) solid;
        margin: 5px;
        border-radius: 10px;
    }
}



.dashboard__sidebar {
    display:flex;
    flex-direction: column;
    background-color: rgb(83, 83, 83);
    padding: 20px 0px 20px 0px;
    .dashboard-buttons {
        border: 0px black solid;
        border-radius: 10px;
        padding: 10px;
        margin: 5px 10px 5px 10px;
    }
}




.priority-tasks-active, .all-tasks-active {
    background-color: black;
    color: white;
}


.overlay {
    background: rgb(139,139,139);
    background: linear-gradient(4deg, rgb(255, 255, 255) 0%, rgb(199, 199, 199) 100%);
    width: 100%;
    height: 100vh;
}

.dashboard__contents {
    background-color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.emptyPriorities, .empty-all-tasks {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}

.all-tasks__container, .priority-tasks__container, .welcome__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.dashboard__contents {
    box-shadow: 10px 10px 500px 200px;
    
}




.header {
    min-height: 50px;
    background-color: rgb(241, 241, 241);

}




.dashboard__utilities {
    background-color: rgb(83, 83, 83);
    min-width: 50px;

}




.dashboard__tasks__new-task {
    padding-bottom: 5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    > * {
        margin: 5px;
    }
}




.modal__form {
    position: fixed; 
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50%;
    border-radius: 15px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 177, 177);
    padding: 20px;
    box-shadow: 10px 10px 500px 200px;

    >* {
        box-sizing: border-box;
        margin: 2px;
        border-radius: 7px;
        border-style: none;
        padding: 5px;
    }
    h3 {
        text-align: center;
        color: rgb(0, 0, 0);
        /*
        text-shadow: black 1px 1px 3px; */
        padding-bottom: 20px;
    }


}


.singular-task {
    width: 100%;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    :nth-child(-n + 3) {
        flex-basis: 100%; 
    }
    :nth-child(n + 4) {
        flex-basis: calc(50% - 10px)
    }
    padding: 20px;
    padding-bottom: 20px;
    > * {
        padding: 10px;
        width: 100%;
        margin: 3px;
        border-radius: 7px;
        border-style: none;
    };

    .field3, .field4 {
        max-height: 50px;
        min-height: 50px;
    }


    textarea {
        height: 200px;
    }



    button {
        margin-bottom: 30px;
    }
}



.singular-priority-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    > * {
        background-color: rgb(219, 219, 219);
        margin: 3px;
        border-radius: 7px;
        border-style: none;
        padding: 8px;
    }
    .remove-priority {
        margin-bottom: 30px;
    }

}



/* this is really important */
.made-priority, .made-priority-init {
    box-shadow: red 0px -0px 10px 2px;

}

