
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, textarea {
    resize: none;
}


button, .non-editable, h3, h2, h1, .makePriority, .save-btn, .singular-task, .singular-priority-task, .dashboard__utilities, p, .modal__form, hr {
    user-select: none; 
    caret-color: transparent; 
}

button, .save-btn, .submit, ul {
    cursor:pointer
}



.all-tasks-text {
    color: rgb(92, 92, 92);
    box-shadow: rgb(214, 214, 214) 0px 0px 1px 1px;
}

.all-tasks-text-init {
    background-color: rgba(206, 206, 206, 0.63);
    box-shadow: black 0px 0px 0px 0px;
}

.save-toggle-text, .save-toggle-text-init {
    color: rgb(155, 155, 155);
    background-color: rgba(206, 206, 206, 0.63) !important; 
    box-shadow: black 0px 0px 0px 0px;
}

.save-btn-init {
    background-color: rgb(134, 255, 109);
}

.save-btn-click {
    background-color: rgb(134, 255, 109);
}



html, body {
   /* overflow: hidden; */
}

/*
body {
    overflow-y: scroll; 
}
    */



html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: monospace;
    line-height: 1.5;

}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: monospace;
}
p, span {
    font-family: monospace;
}

.dashboard__sidebar, .dashboard__utilities {
    position: relative;
    z-index: 3;
}

.header {
    position: relative;
    z-index: 2;
}

.dashboard {
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    >* {
        border: 3px rgba(255, 255, 255, 0) solid;
        margin: 5px;
        border-radius: 10px;
    }
}

.dashboard__sidebar {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background-color: rgb(83, 83, 83);
    padding: 20px 0px 20px 0px;
    .dashboard-buttons {
        width: 80%;
        border: 0px black solid;
        border-radius: 10px;
        padding: 10px;
        margin: 5px 10px 5px 10px;
    }
}



.priority-tasks-active, .all-tasks-active {
    background-color: black;
    color: white;
}


.overlay {
    background: rgb(139,139,139);
    background: linear-gradient(4deg, rgb(255, 255, 255) 0%, rgb(199, 199, 199) 100%);
    width: 100%;
    height: 100vh;
}



.dashboard__contents {
    min-width: 300px !important;
    width: 600px !important;

    position: relative;
    background-color: white;
    max-width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 10px 500px 200px;

    .all-tasks__container, .project__container {
        width: calc(100%);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 80vh;
        height: 80vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px; 
            height: 10px; 
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.253); 
            border-radius: 20px; 
        }
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        scrollbar-gutter: stable both-edges;
    }
}



.title-container {
    position: sticky; 
    padding: 25px 0px 25px 45px;

    top: 0;
    height: 60px;
    z-index: 4;
    backdrop-filter: blur(10px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    z-index: 4;
}
.view-title {
    height: 60px;
    width: 100%;
    text-align: start;

}

hr {
    position: relative;
    top: 5px !important;
    height: 1px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.089);
}


.emptyPriorities, .empty-all-tasks {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.all-tasks__container, .priority-tasks__container, .welcome__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    min-height: 50px;
    background-color: rgb(241, 241, 241);
}


.dashboard__utilities {
    background-color: rgb(83, 83, 83);
    min-width: 50px;
}


.dashboard__tasks__new-task {
    padding-bottom: 5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    > * {
        margin: 5px;
    }
}


.modal__form {
    position: fixed; 
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50%;
    border-radius: 15px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 177, 177);
    padding: 20px;
    box-shadow: 10px 10px 500px 200px;
    >* {
        box-sizing: border-box;
        margin: 2px;
        border-radius: 7px;
        border-style: none;
        padding: 5px;
    }
    h3 {
        text-align: center;
        color: rgb(0, 0, 0);
        /*
        text-shadow: black 1px 1px 3px; */
        padding-bottom: 20px;
    }
}


.all-remove-icons, .all-minimise-icons {
    pointer-events: none;
    position: relative;
}


.container-anima {
    transform-origin: top;
    animation: ease forwards 0.2s container-animation
}
@keyframes container-animation {
    0% {
        height: 430px;

    }
    100% {
       /* height: 16.5%; */

        height: 121px;
    }
}

.cont-anima-open {
    animation: ease forwards 0.2s container-open
}
@keyframes container-open {
    0% {
        height: 121px;
    }
    100% {
        height: 430px;
    }
}

.minimise {
    display: none;
}

.container-minimise {
    height: 121px !important;
}



.mini-anima-close {
    animation: ease forwards 0.2s mini-close
}
@keyframes mini-close {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
        display: none;
    }
}


.mini-anima-open {
    animation: ease forwards 0.2s mini-open 
}
@keyframes mini-open {
    0% {
        transform: scaleY(0);
        display: none;
    }
    100% {
        transform: scaleY(1);
    }
}

.task0, .project-task0 {
    margin-top: 30px !important;
}


.singular-task, .singular-project-task {


    position: relative;
    box-shadow: 0px 0px 100px 0px rgba(0, 8, 77, 0.308); 
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    min-width: 80%;
    max-width: 80%;
    margin-bottom: 30px;
    height: 430px;

    :nth-child(-n + 4) {
        flex-basis: 100%; 
    }
    padding-bottom: 0px;
    padding: 20px;


    :nth-child(n + 5) {
        flex-basis: calc(50% - 10px)
    }




    .all-tasks-text, .field3, .field4 {

        padding: 10px;
        margin: 4px;
        border-radius: 7px;
        border-style: none;
    };

    .field3, .field4 {
        max-height: 50px;
        min-height: 50px;
        margin-bottom: 30px;

    }


    textarea {
        height: 200px;
    }


 
}



.singular-priority-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    > * {
        background-color: rgb(219, 219, 219);
        margin: 3px;
        border-radius: 7px;
        border-style: none;
        padding: 8px;
    }
    .remove-priority {
        margin-bottom: 30px;
    }
}


.projects-list, .dashboard__sidebar__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgba(240, 248, 255, 0);
    margin-bottom: 10px;
    
    max-width: 100px;
    button {
        text-align: start;
        padding: 4px;
        width: 100%;
        margin: 2px 0px 2px 0px;
    };
}

.dashboard__sidebar__projects {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgba(240, 248, 255, 0);
    margin-bottom: 10px;
    width: 100%;
}

.project-name {
    width: 100%;
}

.dashboard-project-btns {
    min-width: 100px;
    border-radius: 7px;
    border: none;
}


/* this is really important */
.made-priority, .made-priority-init {
    box-shadow: red 0px -0px 3px 1px;
}


button {

}

.projects-unassigned:hover {
    color: rgb(59, 255, 33);

}




.task-top-bar {
    height: 30px;
    border-radius: 7px;
    margin: 4px;
    box-shadow: 0px 0px 0px 0px;
    padding-left: 5px;
    display: flex;
}
.all-tasks-remove-btn, .all-tasks-minimise-btn {

    border: none;
    border-radius: 5px;
    max-width: 50px;
    height: 30px;
    margin-left: 5px;
    &:hover {
        opacity: 0.5;
    }

}

.project-wrapper {
    .project-list-icon {
        position: relative;
        max-width: 15px;
        max-height: 15px;
        top: 6.5px;
        margin-right: 3px;
    }
    .assigned-icon {
        position: relative;
        max-width: 20px;

        top: 5px;
    }
    display: flex;
    flex-direction: row;
}

.active-list-icon {
    position: relative;
    animation: ease forwards 0.3s list-open
}

@keyframes list-open {
    100% {
        transform: rotate(90deg);
        top: 10px;
    }
}

.closed-list-icon {
    animation: ease forwards 0.15s list-closed

}

@keyframes list-closed {
    0% {
        transform: rotate(90deg);
        top: 10px;


    }
    100% {
        transform: rotate(0deg);
        

    }
}







/*must come before expand list*/
.all-tasks-projects {
    text-align: start;
    display: flex;
    flex-direction: column;
    max-height: 30px;
    position: relative;
    top: 3px;
    z-index: 2;
}

.all-tasks-projects > * {
    transform: scaleY(0.0)
}


.expand-list {
    animation: ease forwards 0.3s expand-list ;
     z-index: 2;
}

.expand-list-items {
    padding: 2px;
}

@keyframes expand-list {
    0% {
    max-height: 30%;
    background-color: rgba(0, 0, 0, 0);
    }
    100% {
        max-height: 100%;

    color: rgb(156, 156, 156);

    }
    
}

.assigned-task {
    color: rgb(156, 156, 156);
    animation: ease forwards 0.3s assigned-text ;
}
.assigned-init {
    color: rgb(156, 156, 156);
}

@keyframes assigned-text {
    0% {
        opacity: 0;
        transform: translateX(-2em);


    }
    100% {
        opacity: 1;


    }
}



.expand-list > * {
    animation: ease forwards 0.3s expand-items ;
    
}

@keyframes expand-items {
    0% {
        transform: scaleY(0);


    }
    100% {
    transform: scaleY(1);



    }
}


/*drop down buttons*/
.all-projects-menu {
    position: relative;
    right: 20px;
    top: 12px;
    text-align: start;
    box-shadow: black 1px 1px 10px 1px;
    width: 100%;
    padding: 8px;
    margin-top: 3px;
}







